/*==================================
YMS STORE
BRANDS SECTION
===================================*/


.brands{

padding:90px 0;

background:#fff;

}





.brands-grid{


display:grid;

grid-template-columns:repeat(6,1fr);

align-items:center;

gap:35px;

}





.brands-grid img{


width:120px;

height:60px;

object-fit:contain;

margin:auto;

filter:grayscale(100%);

opacity:.6;

transition:.4s;


}





.brands-grid img:hover{


filter:grayscale(0);

opacity:1;

transform:scale(1.1);


}








@media(max-width:1000px){


.brands-grid{


grid-template-columns:repeat(3,1fr);


}


}





@media(max-width:600px){


.brands-grid{


grid-template-columns:repeat(2,1fr);


}



.brands-grid img{


width:100px;


}


}