/*==================================
YMS STORE
MINI CART
===================================*/


.mini-cart-overlay{

position:fixed;

inset:0;

background:rgba(0,0,0,.5);

opacity:0;

visibility:hidden;

transition:.3s;

z-index:9998;

}





.mini-cart-overlay.active{

opacity:1;

visibility:visible;

}







.mini-cart{


position:fixed;

right:-450px;

top:0;

width:420px;

height:100vh;

background:white;

z-index:9999;

transition:.4s;

display:flex;

flex-direction:column;


}





.mini-cart.active{


right:0;


}








/* HEADER */


.mini-cart-header{


padding:25px;

display:flex;

justify-content:space-between;

align-items:center;

border-bottom:1px solid #eee;


}



.mini-cart-header h3{


font-size:22px;


}



.close-cart{


border:none;

background:none;

font-size:25px;

cursor:pointer;


}









/* PRODUITS */


.mini-cart-products{


flex:1;

overflow:auto;

padding:25px;


}



.cart-item{


display:flex;

gap:15px;

margin-bottom:20px;

border-bottom:1px solid #eee;

padding-bottom:20px;


}



.cart-item img{


width:80px;

height:80px;

object-fit:cover;

border-radius:10px;


}



.cart-item h4{


font-size:15px;


}



.cart-item span{


color:#d4af37;

font-weight:bold;


}




.remove-item{


color:red;

cursor:pointer;

font-size:13px;


}









/* FOOTER */


.mini-cart-footer{


padding:25px;

border-top:1px solid #eee;


}



.cart-total{


display:flex;

justify-content:space-between;

font-size:20px;

margin-bottom:20px;


}



.checkout-whatsapp{


display:flex;

justify-content:center;

align-items:center;

height:50px;

background:#25D366;

color:white;

border-radius:30px;

font-weight:bold;


}





@media(max-width:600px){


.mini-cart{


width:100%;


}


}