/*==================================
YMS STORE
TESTIMONIALS
===================================*/


.testimonials{

padding:90px 0;

background:#fff;

}






.testimonial-grid{


display:grid;

grid-template-columns:repeat(3,1fr);

gap:30px;


}







.testimonial-card{


background:#fafafa;

padding:35px 30px;

text-align:center;

border-radius:25px;

transition:.4s;

box-shadow:
0 10px 30px rgba(0,0,0,.05);


}





.testimonial-card:hover{


transform:translateY(-10px);

box-shadow:
0 20px 45px rgba(0,0,0,.12);


}








.testimonial-card img{


width:90px;

height:90px;

object-fit:cover;

border-radius:50%;

margin:0 auto 20px;

border:4px solid #d4af37;


}








.testimonial-card h3{


font-size:20px;

margin-bottom:10px;

}






.testimonial-card .rating{


color:#d4af37;

font-size:18px;

letter-spacing:3px;

margin-bottom:20px;


}





.testimonial-card p{


color:#666;

font-size:15px;

line-height:1.8;


}








@media(max-width:900px){


.testimonial-grid{


grid-template-columns:1fr 1fr;


}


}





@media(max-width:600px){


.testimonial-grid{


grid-template-columns:1fr;


}



}