/*==================================
YMS STORE
WHY US SECTION
===================================*/


.why-us{

padding:90px 0;

background:#fafafa;

}





.why-grid{


display:grid;

grid-template-columns:repeat(4,1fr);

gap:25px;


}






.why-card{


background:white;

padding:40px 25px;

text-align:center;

border-radius:25px;

box-shadow:
0 10px 30px rgba(0,0,0,.06);

transition:.4s;


}





.why-card:hover{


transform:translateY(-10px);


box-shadow:
0 20px 45px rgba(0,0,0,.12);


}








.why-card i{


width:75px;

height:75px;

display:flex;

align-items:center;

justify-content:center;

margin:0 auto 25px;

border-radius:50%;

background:#111;

color:#d4af37;

font-size:30px;


}








.why-card h3{


font-size:21px;

margin-bottom:15px;

}




.why-card p{


font-size:15px;

color:#777;

line-height:1.7;


}








@media(max-width:1100px){


.why-grid{


grid-template-columns:repeat(2,1fr);


}



}





@media(max-width:600px){


.why-grid{


grid-template-columns:1fr;


}



.why-card{


padding:30px 20px;


}


}